{% extends 'email-base-layout.html' %}
{% import 'email-base-components.html' as c %}

{%- block preheader -%}
确认 {{ username }} 的 Huskar 密码重置请求
{%- endblock -%}

{%- block content -%}
  <p>Hi there,</p>
  <p>
    我们收到了 {{ core_config.env }} 环境 Huskar 账号 <code>{{ username }}</code> 的密码重置请求.
    如果该请求是您发起的, 请点击链接重置您的密码:
  </p>
  {{ c.button('重置密码', settings.ADMIN_RESET_PASSWORD_URL.format(username=username, token=token.hex)) }}
  <p>该链接会在<strong>{{ expires_in | timedeltaformat }}</strong>内过期.</p>
  <p>
    如果该请求不是由您发起, 请忽略该邮件. 如果有其他疑问, 请发送邮件至
    <a href="{{ settings.ADMIN_SUPPORT_URL }}">huskar@example.com</a>
    联系支持.
  </p>
{%- endblock -%}
