{% extends 'email-base-layout.html' %}
{% import 'email-base-components.html' as c %}

{%- block preheader -%}
Huskar 权限变更: 取消授权 {{ username }} {{ c.permission_label(authority, universe=False) }} {{ application_name}}
{%- endblock -%}

{%- block content -%}
  <p>Hi there,</p>
  <p>
    您的 Huskar 权限已发生变更, <code>{{ c.current_user_label() }}</code>
    解除了您在 {{ core_config.env }} 环境
    <strong>{{ c.permission_label(authority, universe=False) }}</strong> 应用
    <code>{{ application_name}}</code> 的权限, 权限变更已即时生效.
  </p>
  <p>
    如果对此变更有疑虑, 请向变更人询问. 对于其他疑问, 请发送邮件至
    <a href="{{ settings.ADMIN_SUPPORT_URL }}">huskar@example.com</a>
    联系支持.
  </p>
{%- endblock -%}
